# Loading data with pandas

In [52]:
import pandas as pd

# read .cvs file
df = pd.read_csv('purchase_data.csv')
# read .xlsx file
df = pd.read_csv('purchase_data.xlsx')

# Get basic statistics

In [55]:
# print descriptive statistics of the data, including mean, standard deviation, median, etc.
basic_info = df.describe()

# Print data

In [102]:
# display the beginning X rows 
print("The data from the first 5 rows are: \n", df.head(1))

# display the bottom X rows 
print("The data from the last 5 rows are: \n", df.tail(1))

The data from the first 5 rows are:
    Purchase ID       SN  Age Gender  Item ID  \
0            0  Lisim78   20   Male      108

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
The data from the last 5 rows are:
      Purchase ID         SN  Age Gender  Item ID Item Name  Price
779          779  Ennrian78   24   Male       50      Dawn    4.6

# Read Data

In [115]:
# read headers
headers = df.columns

In [86]:
# read each column
new_df = df['Age']

# only read X rows of that column
new_df = df['Age'][0:5]

# convert column data to a list
age_list = df['Age'].values.tolist()

# read multiple columns
new_df = df[['SN', 'Age', 'Price']]

In [44]:
# read a specific row
new_df = df.iloc[1]

# read multiple rows
new_df = df.iloc[1:3]

# read specific location
value = df.iloc[1, 4]

# Locate Specific Data

In [56]:
# locate all customers whose age is seven
new_df = df.loc[df['Age'] == 7]

# Sort Data

In [71]:
# sort the data by name (alphabetically)
new_df = df.sort_values('SN');

# sort the data by age
new_df = df.sort_values('Age')

# sort the data by age in a descending way
new_df = df.sort_values('Age', ascending=False)

# sort the data by both name and age, with both in a asceding way
new_df = df.sort_values(['SN', 'Age'])

# sort the data by both name and age, with name in a ascending way but age going from high to low
new_df = df.sort_values(['SN', 'Age'], ascending=[1,0])

# Filter Data

In [141]:
# locate all customers whose age is seven
new_df = df.loc[df['Age'] == 7]

# locate with multiple conditions, conditions needed to be seperated by parenthesis
new_df = df.loc[(df['Age'] == 7) & (df['Gender'] == 'Female')]

# locate with multiple conditions, conditions needed to be seperated by parenthesis
new_df = df.loc[(df['Age'] == 7) | (df['Gender'] == 'Female')]

# locate with multiple conditions, conditions needed to be seperated by parenthesis
new_df = df.loc[(df['Age'] > 7) & (df['Gender'] == 'Female')]

# reset index of the newly generated data frame, otherwise the above generated data frames still keep the old index
new_df = new_df.reset_index();

# use drop parameter to avoid the old index added as a new coloum in the new data frame
new_df = new_df.reset_index(drop=True)

# locate all customers whose name contains the string of 'rian'
new_df = df.loc[df['SN'].str.contains('rian')]

# locate all customers whose age is seven
new_df = df.loc[df['Age'].isin({7})]

# locate all customers whose age is either 7, 20, or 35
new_df = df.loc[df['Age'].isin({7, 20, 35})]

# locate all customers whose name DOES NOT contain the string of 'rian'
new_df = df.loc[~df["SN"].str.contains('rian')]

# Filtering Data with Regex Expression

In [172]:
import re

# locate all customers whose name contains the string of 'rian' OR 'sim'
new_df = df.loc[df['SN'].str.contains('rian|sim')] # '|' means OR in regex expression

# locate all customers whose name contains the string of 'rian' OR 'sim', include both capital and lowercase cases
new_df = df.loc[df['SN'].str.contains('RIAN|SIM', flags = re.I)] # '|' means OR in regex expression

# locate all customers whose name contains the string of 'rian' OR 'sim'
new_df = df.loc[df['SN'].str.contains('rian|sim')]

# locate all customers whose name starts with 'lis'
new_df = df.loc[df['SN'].str.contains('^lis[a-z]*', flags = re.I)] # '*' means on or more

# Aggregate Statistics (Groupby)

In [178]:
# group all customers by age, print the means of different age groups
new_df = df.groupby('Age').mean()

# group all customers by age, print the sum of different age groups
new_df = df.groupby('Age').mean()

# group all customers by age, print the count of different age groups
new_df = df.groupby('Age').count()

# group all customers by age and sort by purchase price
new_df = df.groupby('Age').mean().sort_values('Price')

/var/folders/1y/hb4mfpy5265f26j9ktdrzynm0000gq/T/ipykernel_1378/1569096264.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df = df.groupby('Age').mean()
/var/folders/1y/hb4mfpy5265f26j9ktdrzynm0000gq/T/ipykernel_1378/1569096264.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df = df.groupby('Age').mean()
/var/folders/1y/hb4mfpy5265f26j9ktdrzynm0000gq/T/ipykernel_1378/1569096264.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df = df.groupby('Age').mean().sort_values('Price')

# Working with Large Amounts of Data

In [181]:
# Now if the .csv file is 20 GB, we want to read files with the size that your computer can handle
for df in pd.read_csv('purchase_data.csv', chunksize=5): # use chunksize parameter to only read 5 rows each time
    continue # use the batch of the data to validate or test your model